<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yplay.yspending">

    <application
        android:name=".SpendingApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launch"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.splashscreen.SplashActivity"
                android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
                android:screenOrientation="portrait"
                tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.summarydetail.SummaryDetailActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|navigation"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.baseview.HomeBaseActivity"
            android:launchMode="singleTask"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>

        <receiver android:name=".broadcast.ReminderReceiver"
            android:enabled="true" />
    </application>

</manifest>